.recipe-added__btns {
  margin-bottom: 36px;
}

.recipe-added__ingredient {
  margin-bottom: 12px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.home__btn {
  letter-spacing: 1px;
}

.recipe-added__description {
  margin-bottom: 16px;
}

.recipe-added__img {
  margin-bottom: 32px;
}
